@import "webfonts.css";
@import "nav.css";
@import "logo.css";
@import "login.css";
@import "registration.css";

body {
    background: #f5f5f5;
    font-family: "IBM Plex Sans", sans-serif;
}

#myFooter {
    background: #B00101;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "IBM Plex Sans Bold", sans-serif;
}

/*Global Bootstrap Overrides*/

.btn-primary {
    font-weight: bold;
    background: #B00101;
    border: 1px solid black;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-border-color: none;
}

.btn-secondary {
    font-weight: bold;
    color: black;
    background: white;
    --bs-btn-hover-bg: #B00101;
    border: none;
}

a {
    color: #B00101;
    text-decoration: none;
}

.login-card {
    border-radius: 25px;
}





