@import "webfonts.css";
@import "nav.css";
@import "logo.css";

body {
    background: #f5f5f5;
}

#myFooter {
    background: red;
    color: white;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
}

h1 {
    font-family: "IBM Plex Sans Bold", sans-serif;
}




