.navbar {
    background-color: #B00101;
    .nav-link {
        color: white;
        font-size: 18px;
    }
    .nav-link.router-link-active {
        color: white;
        font-weight: 600;
    }
}